.calculate__text_background {
  background-color: #EBEBEC;
  border-radius: 16px;
  font-size: 20px;
  line-height: 120%;
  position: absolute;
  top: 50px;
  right: 5px;
  z-index: 2;
}

.calculate__range-input:disabled + .calculate__text_background {
  opacity: .5;
}