.calculate__range-input {
  margin: 24px 0 0;
  padding: 14px 22px;
  width: 379px;
  height: 36px;
  font-family: 'Nekst-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #575757;
  background-color: #F3F3F4;
  border: 2px solid #F3F3F4;
  border-radius: 16px;
  position: relative;
  z-index: 1;
}

.calculate__range-input:focus {
  background-color: #FFF;
  outline: none;
}

.calculate__range-input:active {
  background-color: #FFF;
  outline: none;
}

@media screen and (max-width: 1300px) {
  .calculate__range-input {
    width: 270px;
    padding-left: 29px;
  }
}
