.calculate__leasing-amount {
  margin: 8px 0 0;
  padding: 0;
  font-family: 'Nekst-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  color: #333333;
  width: 345px;
}

@media screen and (max-width: 1119px) {
  .calculate__leasing-amount {
    width: 345px;
  }
}