.calculate__range-img_center {
  right: 255px;
}


@media screen and (max-width: 1439px) {
  .calculate__range-img_center {
    right: 153px;
  }  
}

@media screen and (max-width: 1119px) {
  .calculate__range-img_center {
    left: 147px;
  }
}